<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<span class="name"><%= @user.name %></span>
			</h1>
			<small>
			  <%= @user.email %>
		  </small>
		</section>
		<section>
			<nav>
				<div>
			   		<p class="center">..Create new Store by clicking below..</p>
						<li><%= link_to "Create Store", create_path, class: "btn btn-large btn-block btn-inverse" %></li>
			  </div>
			</nav>
		</section>
	</aside>
	<div class="span8">
		<% if @user.stores.any? %>
			<h3> Stores (<%= @user.stores.count %>)</h3>
			<div class="cop-store" style="opacity: 0.6;">
				<ol class="stores">
					<%= render @stores %>
				</ol>
			</div>
		<% end %>
	</div>
</div>




